body {
    font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

code,
pre {
    font-family: "Fira Code", "Fira Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

a {
    text-decoration: none;
}

hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #999;
    color: #666;
    text-align: center;
}
hr:after {
    content: "❖";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.5em;
    background: white;
}

@media (prefers-color-scheme: dark) {
    hr::after {
        background: #111;
        color: #bbb;
    }
}

@media screen and (min-width: 960px) {
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 1366px) {
    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 1920px) {
    body {
        font-size: 24px;
    }
}

.masthead .site-title {
    font-size: xx-large;
    font-weight: 900;
}

.footer {
    padding: 1em 0;
}

.tags a::after {
    content: "/";
    color: #999;
    padding-left: 8px;
}

.tags a:last-child::after {
    content:none;
    padding: 0;
}