<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>
        {{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}
    </title>

    {{- partial "fonts.html" . -}}

    <link rel="stylesheet" type="text/css" href="/css/sp.css">
    <link rel="stylesheet" type="text/css" href="/css/highlight.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="{{ .Site.Title }}">
  </head>
